.filter-main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(247, 213, 101, 0.85);
  padding: 50px;
  height: 55vh;
  font-size: 16px;

  .button.custom-button {
    margin: 5px 5px 5px 0;
  }

  .custom-filter-section-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 3.5vh;

    &-inner {
      margin: 10px 0 10px 0;
    }
  }
}

.extra {
  word-wrap: break-word;
}

.item {
  @media only screen and (min-width: 767px) {
    padding-left: 40px !important;
  }
}
